/* Variables */
$primary-color:#e62ea8; // Pink
$secondary-color:#0099e5; // Blue
$tertiary-color:#999; // Grey

/* Mixins */
@mixin button($background, $color) {
    background:$background;
    background:-webkit-linear-gradient(top, lighten($background, 10%), darken($background, 10%));
    background:linear-gradient(to bottom, lighten($background, 10%), darken($background, 10%));
    border:darken($background, 20%) 1px solid;
    box-shadow:lighten($background, 20%) 0 1px 0 inset;
    color:$color;
}
@mixin horizontal-align {
    left:50%;
    position:relative;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%);
}
@mixin vertical-align {
    top:50%;
    position:relative;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
}

/* Extend */
%button {
    border-radius:8px;
    display:inline-block;
    font-size:20px;
    font-weight:bold;
    padding:20px 40px;
    text-shadow:rgba(0,0,0,.4) 0 -1px 0;
    -webkit-transition:all .25s ease-in-out;
    transition:all .25s ease-in-out;
}

/* Things */
body {
    -webkit-perspective:600px;
    -webkit-transform-style:preserve-3d;

}
.header {
    padding:40px 0;
    text-align:center;
    h1 {
        color:$primary-color;
        font-size:60px;
        -webkit-animation:fade-in-out .25s ease-in-out forwards,
            intro .25s ease-in-out forwards;
        animation:fade-in-out .25s ease-in-out forwards,
            intro .25s ease-in-out forwards;
    }
    h2 {
        color:$tertiary-color;
    }
}
a.btn {
    @include button($primary-color, #fff);
    @extend %button;
    @include horizontal-align;
    &:hover {
         @include button(lighten($primary-color, 10%), #fff);
    }
    &:active {
        @include button(darken($primary-color, 10%), #fff);
    }
}

.awesome {
    background-image:linear-gradient(0deg, transparent 24%, $primary-color 25%, $primary-color 26%, transparent 27%, transparent 74%, $primary-color 75%, $primary-color 76%, transparent 77%, transparent), 
    linear-gradient(90deg, transparent 24%, $primary-color 25%, $primary-color 26%, transparent 27%, transparent 74%, $primary-color 75%, $primary-color 76%, transparent 77%, transparent);
    background-size:60px 60px;
    border-top:$primary-color 2px solid;
    bottom:0;
    left:0;
    min-height:580px;
    position:relative;
    width:100%;
    -webkit-animation:awesome 5s linear forwards infinite;
    animation:awesome 5s linear forwards infinite;
    -webkit-transform-origin:50% 50%;
    -webkit-transform:rotateX(45deg) scale(2);
    -webkit-transform-style:preserve-3d;
}

/* Animations */
@-webkit-keyframes fade-in-out {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-webkit-keyframes intro {
    0% {
        -webkit-transform:translate(0, 50%) scale(4);
        transform:translate(0, 50%) scale(4);
    }
    100% {
        -webkit-transform:translate(0, 0) scale(1);
        transform:translate(0, 0) scale(1);
    }
}
@-webkit-keyframes awesome {
    0% {
        background-position:0 0;
    }   
    100% {
        background-position:0 -100%;
    }
}