* {
	margin:0;
	padding:0;
}
html {
    height:100%;
}
body {
    background:#111;
    color:#fff;
    font:100%/1.5 "Open Sans", Helvetica, Arial, sans-serif;
    height:100%;
    -webkit-font-smoothing:antialiased;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display:block;
}
img {
    border:0;
}
a {
    color:#0099e5;
    text-decoration:none;
}
a:hover,
a:active {
    color:#00aaff;
}
ul, li {
    list-style:none;
}

/* Type */
h1, h2, h3, h4, h5, h6 {
    line-height:1;
    text-rendering:optimizeLegibility;
}
h1 {
    font-size:1.75em; /* 28px */    
    margin:0 0 0.71428571428571em;
}
h2 {
    font-size:1.5em; /* 24px */
    margin:0 0 0.83333333333333em;
}
h3 {
    font-size:1.25em; /* 20px */
    margin:0 0 1em;
}
h4 {
    font-size:1.125em; /* 18px */
}
h5 {
    font-size:1em; /* 16px */
}
h6 {
    font-size:.875em; /* 14px */
}
p, ul, ol, dl, table, label, figcaption {
    font-size:.875em;  /* 14px */
    margin:0 0 1.42857142857143em;
}
ul p, ol p, table p, ul ul, ol ol, ul ol, ol ul {
    font-size:1em; /* 14px / 14px */
}
strong {
    font-weight:bold;
}
em { 
    font-style:italic;
}
small {
    font-size:.85714285714286em;  /* 12px / 14px */
}

/* Animations */
@-webkit-keyframes fade-in-out {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* Retina */
@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min--moz-device-pixel-ratio:2),
only screen and (-o-min-device-pixel-ratio:2/1),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:192dpi),
only screen and (min-resolution:2dppx) {

}

/* Clear floats */

/* IE6 float clear */
* html .header,
* html .main,
* html .footer {
    height:1%;
}

/* IE7 float clear */
*:first-child+html .header,
*:first-child+html .main,
*:first-child+html .footer {
    min-height:1px;
}

/* Browsers that support :after */
.header:after,
.main:after,
.footer:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    visibility:hidden;
}